body{
    font-size: 20px;
}

img{
    width: 150px;
}

.block{
    background-color: aquamarine;
}

.block-2{
    background-color: aqua;
    width: 500px;
}

.inline{
    background-color: aqua;
}
